<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>About Page</title>

  <!-- CSS  -->
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/materialize.min.css" type="text/css" rel="stylesheet"/>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</head>
<body>
  <nav class="white1" role="navigation">
    <div class="nav-wrapper container">
      <ul id="nav1"class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/map">Map</a></li>

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/map">Map</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</body>
<link href="../css/about.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Francisco Diaz</h2>
        <p class="title">HTML + CSS - Frontend</p>
        <p>"Um, I don't know."</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Melissa Cuza</h2>
        <p class="title">HTML + CSS - Frontend</p>
        <p>"What's a blurb?"</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Marc Castro</h2>
        <p class="title">Python - Backend</p>
        <p>"Who created the blurb?"</p>
      </div>
    </div>
  </div>

<div class="column">
  <div class="card">
    <div class="container">
      <h2>Uma Nair</h2>
      <p class="title">Python + GAE - Backend</p>
      <p>"We broke something."</p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <div class="container">
      <h2>Jasmine B. Doctolero</h2>
      <p class="title">Project Manager and Support System</p>
      <p>"A blurb."</p>
    </div>
  </div>
</div>


<div class="column">
  <div class="card">
    <div class="container">
      <h2>Jeffrey Morales</h2>
      <p class="title">Project Contractor</p>
      <p>"This is too much pressure."</p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <div class="container">
      <h2>Dr. Simon Fan</h2>
      <p class="title">Project Contractor</p>
      <p>"Old. Software Engineer."</p>
    </div>
  </div>
</div>
