<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fastest Path</title>

  <!-- CSS  -->
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/materialize.min.css" type="text/css" rel="stylesheet"/>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</head>
<body>
  <nav class="white1" role="navigation">
    <div class="nav-wrapper container">
      <ul id="nav1"class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="map.html">Map</a></li>

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="map.html">Map</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="parallax-container">


  <div class="FastestPath">Fastest Path</div>
  <div class="life">Making your life easier one step at a time</div>
  <form method="get" action="/fastestpath">
  <label id="start">Starting Point</label>
   <select class="start1" name="start">
     <option value="" disabled selected>Choose your starting point</option>
     <option value="1">SBSB</option>
     <option value="2">Parking Structure 1</option>
     <option value="3">Kellogg Library</option>
     <option value="4">USU</option>
     <option value="5">Starbucks</option>
   </select>
   <br><br>

    <label id="dest"> Destination</label>
    <select class="end1" name="dest">
      <option value="" disabled selected>Choose your destination</option>
      <option value="1">SBSB</option>
      <option value="2">Parking Structure 1</option>
      <option value="3">Kellogg Library</option>
      <option value="4">USU</option>
      <option value="5">Starbucks</option>
    </select>

      <!-- <a href="/fastestpath" id="go1" class="btn-large waves-effect waves-light teal lighten-1">Go</a> -->
      <input type="submit" value="Go!">
    </form>
  <div class="video-container1">
    <video
     autoplay loop playsinline muted id ="video1">
     <source src="../css\images\csusm.mp4" type="video/mp4">

  </video>



    <br>


</div>


    </div>


  </div>


  <div class="container">
    <div >

      <!--   Icon Section   -->
      <!-- Dropdown Trigger -->


  <!-- Dropdown Structure -->

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->

  <!-- Dropdown Structure -->

  <!--  -->




    </div>
  </div>
  </body>
</html>
