body {
	font-size: 15px;
	font-family: sans-serif;
	color: blue;
	text-align: center;
}
html{
  background-color: grey;
}

header{
  background: #afafaf;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.welcome{
  background: #afafaf;
	font-size: 20px;
  display: block;
  border-radius: 20px;
  margin:10px 60px;/*First value is top/bottom Second value is right/left */
  padding:10px;
  text-align: center;
  color: black;

}
.About{
  font-size: 20px;
}
.Intro{
  background: #afafaf;
  max-width:1200px;
  max-height: 300px;
  padding: 20px;
  margin:10px;
  border-radius: 20px;
  font-size: 15px;

}
.button{
background: #afafaf;
display:inline-block;
border-radius: 50px;
padding:20px;
margin: 10px 80px;
font-size: 15px;
}
.button:hover{
  background: lightgrey;
}

ul{
  list-style: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}
 li {
  display:inline-block;
  text-align: center;
  padding:5px;
  margin:10px
}
li a:hover{
  color:lightgrey;
}

.value {
	
}
