<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fastest Path</title>
  <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<center>
<header>
  <nav>
    <ul>
    	 <li><a href="index1.html">Home</a></li>
    	 <li><a href="FastestPath.html">Fastest Path</a></li>
    	 <li><a href="about1.html">About</a></li>
    </ul>
  </nav>
</header>


<br>

  <div class="welcome"> <strong> Welcome to the site </strong> </div>
  <br>
  <div class="Intro"
  <p><i> This site leads to the map
  </i></p>
  </div>
  <br><br>


  <a href="FastestPath.html" class="button"><b>Fastest Path</b></a>
</center>
<br>
<select name="starting point" id= "SP">
          <option value="Kellogg">Kellogg Library</option>
          <option value="Univerity Student Union">USU</option>
          <option value="Social Behavioral & Sciences Building">SBSB</option>
          <option value="PS1">PS1</option>
          <option value="Starbucks">Starbucks</option>
      </select>
</br>
<select name="destination" id= "Dest">
          <option value="Kellogg">Kellogg Library</option>
          <option value="Univerity Student Union">USU</option>
          <option value="Social Behavioral & Sciences Building">SBSB</option>
          <option value="PS1">PS1</option>
          <option value="Starbucks">Starbucks</option>
      </select>
<br>
<input type="submit" value="Go!">
</body>
</html>
